<header clas="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__logo">
          <a href="#">
            <img src="img/logo.png" alt="">
          </a>
        </div>
        <div class="header__box">
          <a class="header__login" href="#">Войти</a>
          &nbsp/&nbsp
          <a class="header__register" href="#">Регистрация</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__menu">
    <div class="container">
      <nav class="menu">
        <div class="header__menu-inner">
          <ul class="menu__list">
            <li>
              <a href="#">
                Завтрак
              </a>
            </li>
            <li>
              <a href="#">
                Закуски
              </a>
            </li>
            <li>
              <a href="#">
                Комбо
              </a>
            </li>
            <li>
              <a href="#">
                Еда
              </a>
            </li>
            <li>
              <a href="#">
                Десерты
              </a>
            </li>
          </ul>
          <div class="search__inner-form">
            <form>
              <input type="text" placeholder="Поиск блюд" required>
              <button type="submit">
                <img src="img/icons/search.svg" alt="">
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>