$color-text: #fca313;
$orange: #fdb813;
$background: #f5f5f5;

@mixin f300{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
@mixin f400{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

$component-dimension: 180px;
$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #3949AB;
$pan-color-dark: #5C6BC0;
$loader-color: #FDD835;